body {
    background-color: rgb(155, 243, 206);
    text-align: center;
} 
h1{
    background-color: rgb(4, 80, 48);
    color: white;
}
#newGame{
    background-color: rgb(4, 80, 48);
    color: white;
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 45%;
}
h3,h2{
    background-color: rgb(28, 134, 90);
    color: white;
    display: block;
    width: 40%;
    margin: auto;
}
#subt{
    background-color: rgb(4, 80, 48);
    color: white;
}
#subt:hover{
    background-color: rgb(28, 134, 90);
    color: white;
}
#guessField:hover{
    background-color: rgb(227, 243, 243);
}